{% layout "layouts/main.liquid" %}
{% block content %} 
<h2>Privacy policy</h2>
<p>
    
This Privacy Policy covers the information we collect about you when you use our products or services.

This policy also explains your choices about how we use information about you. Your choices include how you can object to certain uses of information about you and how you can access and update certain information about you. If you do not agree with this policy, do not access or use our Services or interact with any other aspect of our business.

What information we collect about you
Account and Profile Information: We collect information about you when you sign up for newsletter updates or create an Instagram gallery. This information may include your email address or Instagram account information. You also have the option to edit your subscription preferences and disconnect your account.

How we use your information
To send periodic emails, newsletters, special offers, tutorial materials, free gifts, and for other marketing or advertising purposes. We use your information in order to create media content on your behalf like Instagram gallery based on your photos and show it on your store.

How we store and secure information we collect
We use data hosting service providers from around the world to host the information we collect, and we use technical measures to secure your data.

While we implement safeguards designed to protect your information, no security system is impenetrable and due to the inherent nature of the Internet, we cannot guarantee that data, during transmission through the Internet or while stored on our systems or otherwise in our care, is absolutely safe from intrusion by others.

How long we store information about you
We keep your personal information for the period of time during which you use our Service.

Delete all data associated with your account: We can delete information associated with your account upon your request. In order to do this, you need to contact our support service support@nomaddev.cf

Cookies
Cookie is a small piece of data sent from a website and stored on the user's computer by the user's web browser while the user is browsing. Cookies were designed to be a reliable mechanism for websites to remember stateful information (such as items added in the shopping cart in an online store) or to record the user's browsing activity (including clicking particular buttons, logging in, or recording which pages were visited in the past). We use the information in cookies for improving user experience in the site. For example, if you see a particular offer, we make sure that these kind of offers are not displayed on your next visit to the site to positively affect your user experience.

If you don’t want our service to use cookies on your computer, you can always configure your browser not to use cookies for saving the information.
</p>
{% endblock %}